################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/asgdotnet_lib/.vs/asgdotnet_lib
